---
import Layout from "@/layouts/Layout.astro"
import Error from "@/sections/Error.astro"

export const prerender = true
---

<Layout description="Trastorno Disformico" title="Página no encontrada - Trastorno Disformico">
	<main>
		<Error
			error="404"
			message="Página no encontrada"
			contextMessage="¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la dirección URL sea correcta."
		/>
	</main>
</Layout>
