---
import Layout from "@/layouts/Layout.astro"

import Hero from "@/sections/Hero.astro"
import PrincipalDate from "@/sections/PrincipalDate.astro"
---

<Layout
	description="Trastorno Dismórfico Corporal"
	title="Trastorno Dismórfico Corporal"
	canonical=""
>
	<Hero />

	<main>
		<PrincipalDate />
	</main>
</Layout>
