---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Trastorno Dismórfico Corporal" description="Trastorno Dismórfico Corporal">
	<main class="flex flex-col items-center justify-center text-white">
		<iframe src="/public/revista-trastorno-dismórfico.pdf">
			Tu navegador no soporta iframes.
		</iframe>
	</main>
</Layout>

<style>
	iframe {
		padding-top: 20px;
		width: 100%;
		height: 750px;
	}
</style>
