<div class="fixed inset-x-0 top-0 -z-30 h-screen bg-black/10">
	<img src="/public/img/portada.png" alt="" />
</div>

<style>
	div {
		img {
			@apply absolute left-0 top-0 h-full w-full object-cover opacity-25;
		}
	}
</style>
