---
import LiteYouTube from "@/components/LiteYouTube.astro"
---

<section class="mt-10 w-full overflow-hidden px-2 pb-7 md:pb-20 md:pt-20">
	<div class="relative flex flex-col gap-5 md:gap-16">
		<LiteYouTube
			videoId="YpOu9f4wyYU"
			backgroundImage="/public/img/Video1.png"
			title="Abatiendo al gigante"
		/>
		<LiteYouTube
			videoId="0DN-9Dr6cjM"
			backgroundImage="/public/img/unan.png"
			title="Trastorno dismórfico corporal"
		/>
	</div>
</section>
